DB_PORT=5432
DB_USERNAME=""
DB_PASSWORD=""
DB_DATABASE=""
PUBLIC_KEY=""
JWK=""
CRYPTO_SECRET_KEY=""
CRYPTO_IV_KEY=""
CRYPTO_SALT=""
CRYPTO_ITERATIONS=89
CRYPTO_KEY_SIZE_MIN=32
CRYPTO_KEY_SIZE_MAX=256
