.medical-records-area {
  h1 {
    font-size: 25px;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 20px;
  }

  .medical-records-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .medical-records-item {
    border: 1px solid #74F1EE;
    background-color: #E8FDFC;
    box-shadow: 0 8px 24px -4px rgba(173, 176, 184, 0.08), 0px 6px 12px -6px rgba(173, 176, 184, 0.12);
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    section {
      flex: 3;
    }

    .delete-section, .status-section {
      flex: 1;
      text-align: right;
    }

    .signed-section {
      flex: 2;
    }

    b {
      font-weight: 600;
      font-size: 14px;
    }

    small {
      font-size: 12px;
    }

    svg {
      color: #13C2BD;
      cursor: pointer;
    }
  }
}

.form-modal {
  position: absolute;
  background-color: #FFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  border-radius: 8px;
  width: 800px;

  .form-modal-header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

    span {
      cursor: pointer;
    }
  }

  .child-modal-title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .form-modal-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
    margin-bottom: 40px;

    div {
      margin-right: 10px;
    }

    button {
      height: 50px;
    }

    label {
      font-size: 13px !important;
    }

    .standard-select {
      margin: 0;
      height: 50px;
    }
  }
}

.success-created-medical-record {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #13C2BD;
  display: flex;
  align-items: center;

  svg {
    color: #13C2BD;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .medical-records-area {
    margin-top: -40px;

    h4 {
      font-size: 20px;
    }

    .medical-records-heading {
      text-align: center;
      flex-direction: column;
      gap: 30px;

    }

    .medical-records-item {
      align-items: flex-start;
      text-align: center;
      font-size: 12px;

      b {
        display: block;
        margin-bottom: 10px;
      }

      .delete-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 25px;
      }
    }
  }

  .right-align {
    align-items: flex-start !important;
    text-align: left !important;
    padding-left: 30px !important;
  }

  .form-modal {
    width: 95%;

    .standard-button {
      width: 50px;
    }

    .standard-select, .standard-input {
      width: 260px;
    }
  }
}

.accordion-styled {
  margin-bottom: 20px;
  background-color: #E8FDFC !important;
  border: 1px solid #74F1EE;

  &:before {
    border: none !important;
  }

  &:after {
    border: none !important;
  }
}

