body {
    margin: 0;
    font-family: 'Satoshi-Medium', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e8fcfc;
}

* {
    transition: all 0.2s ease-in-out;
}

p, h1, h2, h3, h4, h5, h6, b, span, i {
    color: #010101;
}

.relative-area {
    position: relative;
}

.nav-bar {
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 8px 24px -4px rgba(173, 176, 184, 0.08), 0 6px 12px -6px rgba(173, 176, 184, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #74F1EE;

    .back-area {
        position: absolute;
        left: 0;
        top: 5px;
    }

    .links-area {
        position: absolute;
        right: 0;
        top: 5px;
    }

    img {
        max-width: 300px;
    }
}

.connect-wallet-section {
    text-align: center;
    padding: 2rem;

}

h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Satoshi-Bold', sans-serif;
    margin-bottom: 40px;
}

p {
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 17px;
    margin-top: 20px;
    color: #010101;
}

.rewards-section {
    text-align: center;
    padding: 3rem;

    .tasks-list {
        text-align: left;

        .tasks-item {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            border-bottom: 1px solid #E4E5E7;
            padding: 15px;
        }

        .tasks-button-area {
            text-align: center;
            margin: 30px;

            button {
                background-color: #13C2BD;
                color: #FFF;
            }
        }
    }
}

.content-part {
    background-color: #D1FAF9;
    box-shadow: 0 8px 24px -4px rgba(173, 176, 184, 0.08), 0 6px 12px -6px rgba(173, 176, 184, 0.12);
    border-radius: 8px;
}

.MuiPaper-root {
    background-color: transparent;
    border: none;
    box-shadow: 0 8px 24px -4px rgba(173, 176, 184, 0.08), 0 6px 12px -6px rgba(173, 176, 184, 0.12);
    color: #FFF;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    padding-bottom: 20px;

    &:before {
        height: 0;
    }

    h3 {
        padding: 0;
        margin-bottom: 0;
    }
}

.MuiCollapse-root p {
    display: flex;
    justify-content: space-between;
}

.button-main {
    color: #FFF;
    font-family: "Satoshi-Bold", serif;
    padding: 12px 30px;

    svg {
        margin-right: 15px;
    }
}

.button-main-min {
    color: #FFF;
    font-family: "Satoshi-Bold", serif;
    padding: 8px 16px;

    svg {
        margin-right: 8px;
    }
}

.text-green {
    color: #13C2BD;
}

.divider {
    height: 2rem;
}

.home-page {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-link {
    font-size: 20px;
    font-family: 'Satoshi-Bold', serif;
    color: #0ba39e;
    border-bottom: 2px solid #0ba39e;
    text-decoration: none;

    &:hover {
        border-bottom: none;
    }
}


.json-area {
    background-color: #FFF;
    border-radius: 8px;
    padding: 15px;
    margin-top: 30px;
}

.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    z-index: 999;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}
